:root {
    --theme-green: #4CAF50;
    --theme-blue: #03A9F4;
    --theme-red: #F44336;
    --theme-yellow: #FDD835;

    --theme-black: #212121;
    --theme-white: #FFFFFF;
}


html {
    height: 100%;
}

body {
    margin: 0;
    background-color: var(--theme-black) !important;
    color: var(--theme-white) !important;

    height: 100%;
}

.grid-row {
    width: inherit;
    height: 100vh;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.grid-col {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.page-title {
    font-size: 5rem;
    text-align: center;
    padding: 1rem;
}

div.page-logo {
    display: inline-flex;
    justify-content: center;
}

img.page-logo {
    display: inline-block;

    width: 256px;
    height: 256px;
}

.page-desc {
    font-size: 2.5rem;
    display: inline-block;
    text-align: left;
    padding: 1rem;

    width: 30ch;
}
