/* font-styles */
.chakra-petch-light {
    font-family: "Chakra Petch", serif;
    font-weight: 300;
    font-style: normal;
}

.chakra-petch-regular {
    font-family: "Chakra Petch", serif;
    font-weight: 400;
    font-style: normal;
}

.chakra-petch-medium {
    font-family: "Chakra Petch", serif;
    font-weight: 500;
    font-style: normal;
}

.chakra-petch-semibold {
    font-family: "Chakra Petch", serif;
    font-weight: 600;
    font-style: normal;
}

.chakra-petch-bold {
    font-family: "Chakra Petch", serif;
    font-weight: 700;
    font-style: normal;
}

/* <uniquifier>: Use a unique and descriptive class name
 * <weight>: Use a value from 300 to 700
 */

.quicksand-light {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.quicksand-regular {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* text-coloring */
.blue-text {
    color: var(--theme-blue);
}

.green-text {
    color: var(--theme-green);
}

.yellow-text {
    color: var(--theme-yellow);
}

.red-text {
    color: var(--theme-red);
}
